// colors primary

$Dark-Blue-intro: hsl(217, 28%, 15%);
$Dark-Blue-bg: hsl(218, 28%, 13%);
$Dark-Blue-footer: hsl(216, 53%, 9%);
$Dark-Blue-testimonials: hsl(219, 30%, 18%);

// colors Accent
$Cyan: hsl(176, 68%, 64%);
$Blue: hsl(198, 60%, 50%);
$Light-red: hsl(0, 100%, 63%);
$white: hsl(0, 0%, 100%);

// fonts
$head-font: "Raleway", sans-serif;
$body-font: "Open Sans", sans-serif;
