@import "variables";
@import "mixins";
@import "globals";
@import "navbar";
@import "section1";
@import "section2";
@import "section3";
@import "testimonials";
@import "form";
@import "footer";

body {
	width: 100vw;
	background-color: $Dark-Blue-footer;
}

.pad-20 {
	padding-left: 1.25rem;
	padding-right: 1.25rem;

	@include breakpoint-up {
		padding-left: 5rem;
		padding-right: 5rem;
	}
}

.hide-for-mobile {
	@include breakpoint-down {
		display: none;
	}
}

.hide-for-desktop {
	@include breakpoint-up {
		display: none;
	}
}
